
.moreicons{
    padding-top: 6px;
    opacity: 0.5;
    height: 15px; 
    width: 15px;
}

.notesbutton{
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    gap: 25px;
}