<div class="container">
    <div class="header">
        <span class="head-font" style="color: blue;">F</span>
        <span class="head-font" style="color: rgb(191, 255, 0);">u</span>
        <span class="head-font" style="color: rgb(255, 98, 0);">n</span>
        <span class="head-font" style="color: rgb(0, 200, 255);">d</span>
        <span class="head-font" style="color: rgb(255, 0, 0);">o</span>
        <span class="head-font" style="color: rgb(246, 12, 199);">o</span>
    </div>
    <div class="description">
        <span class="desc-span">Enter your email to reset password</span>
    </div>
    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
        <div class="login-details">
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error>Enter email</mat-error>
                </mat-form-field>
            </p>
        </div>
        <div class="div-buttom">
            <button class="next">next</button>
        </div>
    </form>
</div>
