<div *ngFor="let notes of notesList" class="card">
    <mat-card class="notesContainer" [style.background]="notes.color">
        <mat-card-title mat-input class="title"  (click)="editNoteDialogBox(notes)">{{notes.title}}
            <img class="moreicons1" src="../../../assets/push_pin_FILL0_wght400_GRAD0_opsz48.svg">
        </mat-card-title>
        <mat-card-content>
            <div role="textbox" class="text" style="min-height: 35px; display: block; overflow-wrap: break-word;" (click)="editNoteDialogBox(notes)">{{notes.description}}</div>
            <div>{{notes.notesId}}</div>
        </mat-card-content>

        <div>
            <app-icons [notesObject]="notes"></app-icons>
        </div>
    </mat-card>
</div>
