.container{
    width: 350px;   
    margin: auto;
    margin-top: 35px;
    border: 1.5px solid rgb(224, 220, 220);
    padding: 48px 40px 36px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}
.header{
    align-self: center;
    display: flex;
    flex-direction: row;
}
.head-font{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0px;
}
.desc-span{
    font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
    font-size: 18px;
}
.div-buttom{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}
.next{
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    background: var(--gm-colortextbutton-ink-color,#1a73e8);
	border: none;
    color: white;
	cursor: pointer;
    width: 80px;
    height: 30px;
    border-radius: 5px;
}
.show-password{
    display: flex;
    gap: 15px;
    border: 0px solid blue;
}
/*::ng-deep
.mat-form-field-appearance-outline .mat-form-field-flex{
   height: 50px;
   position: unset;
   display: flex;
   align-items: center;
   width: 350px;
}*/
::ng-deep
.mat-form-field-appearance-outline{
    width: 350px;
}